# general modules
django >3.2,<3.3
python-decouple
Pillow
djangorestframework
djoser


# third party modules
markdown
django-filter
drf-yasg[validation]




# deployment modules


#email third party modules
django-mail-templated

#refactoring and tests
black
#using black is like black .